.filter-header {
  color: #808487;

  span {
    display: block;
    color: #808487;
    font-size: 14px;
    margin-top: 5px;
  }
}

.filter-type {
  .list-group-item {
    color: #808487;
    cursor: pointer;

    &.active {
      background-color: $link-hover-color;
      color: #fff;
    }

    &:hover {
      background-color: $gray-dark;
    }
  }
}

.summary-box {
  padding: 10px;

  .summary-value {
    font-size: 24px;
  }

  .summary-label { color: #666; }
}

.month-filter {
  color: #2F3336;
  cursor: pointer;
  clear: both;
  display: block;
  font-weight: normal;
  padding: 3px 20px;
  line-height: 1.42857143;
  white-space: nowrap;

  &:hover {
    background-color: $gray-lighter;
  }
}

#expenses-table {
  .date {
    width: 50px;
    text-align: center;

    .day {
      font-size: 21px;
      line-height: 1.1em;
    }
    .month { font-size: 13px; }
  }
  .excluded { margin-left: 5px; }
  .concept {
    color: #ccd1d4;
    font-size: 14px;
  }
  .category {
    width: 150px;
  }
  .amount {
    font-size: 16px;
  }
  .actions {
    a {
      visibility: hidden;
      font-size: 13px;
      cursor: pointer;
      margin-left: 10px;
    }
  }

  tr:hover .actions a { visibility: visible; }
}
