<li role='presentation' class='month-filter' data-month='<%= month.strftime("%m") %>' data-year='<%= month.strftime("%Y") %>'>
  <%= "#{l(month, format:'%b').capitalize} #{l(month, format:'%Y')}" %>
</li>